<div class="container outer" >
  <div class="row">
    <h2>Login</h2><br>
    <form class="formBox">
      <label for="username">Username</label>
      <input  required [(ngModel)]="userData.username" name="username">
      <label for="password">password</label>
        <input type="password" required [(ngModel)]="userData.password" name="password">
      <button class="btn btn-success" (click)="login()">Login</button>
      <button class="btn btn-success" (click)="loginWithGoogle()">Login with Google</button>
    </form>
  </div>
</div>

 