<div class="container">
    <div class="row">
      <h2>SignUp</h2>
      <form>
        <label for="name">name</label>
        <input  required [(ngModel)]="name" name="name">
        <label for="username">Username</label>
        <input  required [(ngModel)]="username" name="username">
        <label for="email">email</label>
        <input  required [(ngModel)]="email" name="email">
        <label for="password">password</label>
        <input type="password" required [(ngModel)]="password" name="password">
        <button class="btn btn-success" (click)="signUp()">SignUp</button>
      </form>
    </div>
  </div>
  
